<h2 mat-dialog-title><span translate="PREVIEW"></span> JSON</h2>
<mat-dialog-content>
  <div class="pre m2 p2 rounded-4 overflow-x-auto">
    <span>&#123;</span><br>
    <ng-container *ngFor="let entry of preview; last as last">
      <p class="nowrap">
        &nbsp;&nbsp;<span class="color-primary-2">"{{entry.key}}"</span>: <span
        class="color-secondary-5">"{{entry.value}}"</span><span *ngIf="!last">,</span>
      </p>
    </ng-container>
    <span>&#125;</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-flex-end">
  <button (click)="ref.close()" mat-button translate="CLOSE"></button>
  <button (click)="onCopy()" mat-button translate="COPY"></button>
  <button (click)="onSave()" mat-button translate="SAVE_AS_FILE"></button>
</mat-dialog-actions>
