@use "sass:math";

.border {
  border-style: solid;
  border-width: 1px;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
}

.border-none {
  border: 0
}

@for $i from 1 through 5 {
  .rounded-#{$i * 2} {
    border-radius: #{math.div($i * 2, 10)}rem;
  }

  .rounded-top-#{$i * 2} {
    border-radius: #{math.div($i * 2, 10)}rem #{math.div($i * 2, 10)}rem 0 0
  }

  .rounded-right-#{$i * 2} {
    border-radius: 0 #{math.div($i * 2, 10)}rem #{math.div($i * 2, 10)}rem 0
  }

  .rounded-bottom-#{$i * 2} {
    border-radius: 0 0 #{math.div($i * 2, 10)}rem #{math.div($i * 2, 10)}rem;
  }

  .rounded-left-#{$i * 2} {
    border-radius: #{math.div($i * 2, 10)}rem 0 0 #{math.div($i * 2, 10)}rem;
  }
}

.circle {
  border-radius: 50%;
}

.not-rounded {
  border-radius: 0
}
