@use "./../variables" as var;

@each $name, $value in var.$colors {
  .color-#{$name} {
    color: var(--#{$name}) !important;
  }

  .background-#{$name} {
    background-color: var(--#{$name}) !important;
  }
}
