@use "./../variables"as var;

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.display-none {
  display: none;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

@media (min-width: var.$sm) {
  .sm-flex {
    display: flex;
  }
}

@media (min-width: var.$md) {
  .md-flex {
    display: flex;
  }
}

@media (min-width: var.$lg) {
  .lg-flex {
    display: flex;
  }
}

.hide {
  display: none;
}

@media (max-width: var.$sm) {
  .xs-hide {
    display: none;
  }
}

@media (min-width: var.$sm) and (max-width: var.$md) {
  .sm-hide {
    display: none;
  }
}

@media (min-width: var.$md) and (max-width: var.$lg) {
  .md-hide {
    display: none;
  }
}

@media (min-width: var.$lg) {
  .lg-hide {
    display: none;
  }
}
