$aligns: flex-start, flex-end, center, baseline, stretch;
$justifies: flex-start, flex-end, center, stretch, space-between, space-around;

@each $align in $aligns {
  .items-#{$align} {
    align-items: $align;
  }
  .self-#{$align} {
    align-self: $align;
  }
}

@each $justify in $justifies {
  .justify-#{$justify} {
    justify-content: $justify;
  }
  .content-#{$justify} {
    align-content: $justify;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-static {
  flex: 0 0 auto;
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0
}

.flex-none {
  flex: none;
}

@for $i from 1 through 4 {
  .order-#{$i} {
    order: $i;
  }

  .flex-#{$i} {
    flex: #{$i};
  }
}

.order-last {
  order: 99999;
}
