@use "sass:math";
@use "sass:list";
@use "./../variables" as var;

// FUNCTIONS & MIXINS
@function columns-classes($breakpoint-name: null) {
  $result: [];
  @if $breakpoint-name {
    @for $i from 1 through 12 {
      $result: list.append($result, '.' + col-#{$breakpoint-name}-#{$i}, 'comma');
    }
  } @else {
    @for $i from 1 through 12 {
      $result: list.append($result, '.' + col-#{$i});
    }
  }
  @return var.list-to-string($result);
}

@mixin generate-columns-styles {
  @each $name, $value in var.$breakpoints {
    @include var.media-breakpoint-min($value) {
      #{columns-classes($name)} {
        flex: none;
      }
    }
  }
}

@mixin generate-columns($breakpoint-name: null, $breakpoint-value: null) {
  @if $breakpoint-name != null and $breakpoint-value != null {
    @include var.media-breakpoint-min($breakpoint-value) {
      .col-#{$breakpoint-name} {
        flex: 1;
        width: unset;
      }
      @for $i from 1 through 12 {
        .col-#{$breakpoint-name}-#{$i} {
          width: #{math.div(100, 12) * $i}#{"%"};
        }
      }
    }
  } @else {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: #{math.div(100, 12) * $i}#{"%"};
      }
    }
  }
}

@mixin generate-container {
  .container {
    margin: 0 auto;
    width: 100%;
  }

  @each $name, $value in var.$breakpoints {
    @include var.media-breakpoint-min($value) {
      .container {
        width: $value;
      }
    }
  }
}

// DECLARATIONS
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.col-sm, .col-md, .col-lg, .col-xl {
  width: 100%;
}

@include generate-container;
@include generate-columns-styles;
@include generate-columns;
@each $name, $value in var.$breakpoints {
  @include generate-columns($name, $value);
}
