$values: (
  "0": 0,
  "1": .5,
  "2": 1,
  "3": 2,
  "4": 3,
  "5": 4,
);

@each $name, $value in $values {
  .m#{$name} {
    margin: #{$value}rem !important;
  }

  .mt#{$name}, .my#{$name} {
    margin-top: #{$value}rem !important;
  }

  .mr#{$name}, .mx#{$name} {
    margin-right: #{$value}rem !important;
  }

  .mb#{$name}, .my#{$name} {
    margin-bottom: #{$value}rem !important;
  }

  .ml#{$name}, .mx#{$name} {
    margin-left: #{$value}rem !important;
  }

  .p#{$name} {
    padding: #{$value}rem !important;
  }

  .pt#{$name}, .py#{$name} {
    padding-top: #{$value}rem !important;
  }

  .pr#{$name}, .px#{$name} {
    padding-right: #{$value}rem !important;
  }

  .pb#{$name}, .py#{$name} {
    padding-bottom: #{$value}rem !important;
  }

  .pl#{$name}, .px#{$name} {
    padding-left: #{$value}rem !important;
  }
}

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.mya {
  margin-top: auto;
  margin-bottom: auto;
}
