@use "sass:math";

@for $i from 1 through 16 {
  .text-#{($i * 2) + 8} {
    font-size: #{math.div((($i * 2) + 8), 10)}rem;
  }
}

.text-decoration-none {
  text-decoration: none !important;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic !important;
}

.caps {
  text-transform: uppercase !important;
  letter-spacing: .2em !important;
}

.left-align {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right-align {
  text-align: right !important;
}

.justify {
  text-align: justify !important;
}

.nowrap {
  white-space: nowrap !important;
}

.break-word {
  word-wrap: break-word !important;
}

.break-all {
  word-break: break-all !important;
}

.list-style-none {
  list-style: none !important;
}

.underline {
  text-decoration: underline !important;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
