@use "./../../../../../style/variables" as var;

.preview-table {
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
  min-width: var.$lg;
}

.table-header {
  padding-bottom: 1rem;
}

.table-row {
  padding: 1rem 0;
}

.table-row {
  color: rgba(0, 0, 0, 0.87);
  border-top: 1px solid var.$color-gray-5;
}

.indicator {
  width: 8px;
  height: 8px;
}

.indicator-tab {
  width: 28px;
}

.duplicate {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 6px -0.5px var.$color-gray-2;
}

.duplicate-row {
  border-left: 4px solid var.$color-gray-2;
  margin-left: -4px;
}
