<div *ngIf="translationChanges; else translationPreview" class="preview-table p3 mat-elevation-z2">
  <div class="row table-header">
    <div class="col text-12 px2 bold color-gray-4" translate="KEY"></div>
    <div class="col text-12 px2 bold color-gray-4" translate="CURRENT"></div>
    <div class="col text-12 px2 bold color-gray-4" translate="NEW"></div>
    <div class="col text-12 px2 bold color-gray-4" translate="COMMENT"></div>
    <div class="indicator-tab px2"></div>
  </div>

  <div class="row table-row" [ngClass]="[colors[change.type]]" *ngFor="let change of translationChanges">
    <div class="col px2 break-all">{{change.key}}</div>
    <div class="col px2">{{change.current}}</div>
    <div class="col px2">{{change.new}}</div>
    <div class="col px2">{{change.comment}}</div>
    <div class="flex justify-center items-center px2">
      <div class="circle indicator" [ngClass]="indicators[change.type]"></div>
    </div>
  </div>
</div>
<ng-template #translationPreview>
  <ng-container *ngIf="translation">
    <div class="row table-header">
      <div class="col text-12 px2 bold color-gray-4" translate="KEY"></div>
      <div class="col text-12 px2 bold color-gray-4" translate="TRANSLATION"></div>
    </div>

    <div class="row table-row color-gray-4" *ngFor="let entry of translation | entry"
         [class.duplicate-row]="entry.value.duplicates && entry.value.duplicates > 1">
      <div class="col px2 break-all">{{entry.key}}</div>
      <div class="col px2"><span
        class="block bold circle color-gray-2 inline-block inline-flex items-center justify-center mr2 duplicate"
        *ngIf="entry.value.duplicates && entry.value.duplicates > 1">{{entry.value.duplicates || 0}}</span> {{entry.value.value}}
      </div>
    </div>
  </ng-container>
</ng-template>
