$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1140px;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
);

@mixin media-breakpoint-min($breakpoint-value) {
  @media (min-width: $breakpoint-value) {
    @content
  }
}

@mixin media-breakpoint-max($breakpoint-value) {
  @media (max-width: $breakpoint-value) {
    @content
  }
}
