<app-header class="block sticky top-0 z1" (exportJson)="onExportJson()" (exportResx)="onExportResx()"></app-header>
<div class="p4">
  <h4 class="color-gray-3 center mb2" translate="DETECT_CHANGES_HEADER"></h4>
  <h4 class="color-gray-3 center mb3" translate="DETECT_CHANGES_HEADER2"></h4>
  <p class="color-gray-4 center mb3" translate="DETECT_CHANGES_INFO"></p>
  <div class="row">
    <div class="col-sm mb4 center">
      <h4 class="mb2" translate="CURRENT_VERSION"></h4>
      <app-file-upload (upload)="onVersionOneUpload($event)"></app-file-upload>
    </div>
    <div class="col-sm mb4 center">
      <h4 class="mb2" translate="NEW_VERSION"></h4>
      <app-file-upload (upload)="onVersionTwoUpload($event)"></app-file-upload>
    </div>
  </div>

  <div *ngIf="translationChanges && statistics" class="row">
    <div class="col-sm flex items-center justify-center mb3 center color-gray-4">
      <button (click)="lackInput.setValue(!lackInput.value)" mat-button class="filter"
              [class.disabled]="!lackInput.value">
        <span class="text-16">{{statistics.LACK}}</span>
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <div class="col-sm flex items-center justify-center mb3 center color-secondary-1">
      <button (click)="updateInput.setValue(!updateInput.value)" mat-button class="filter"
              [class.disabled]="!updateInput.value">
        <span class="text-16">{{statistics.UPDATE}}</span>
        <mat-icon>unfold_more</mat-icon>
      </button>
    </div>
    <div class="col-sm flex items-center justify-center mb3 center color-secondary-4">
      <button (click)="insertInput.setValue(!insertInput.value)" mat-button class="filter"
              [class.disabled]="!insertInput.value">
        <span class="text-16">{{statistics.INSERT}}</span>
        <mat-icon>expand_less</mat-icon>
      </button>
    </div>
    <div class="col-sm flex items-center justify-center mb3 center color-error-1">
      <button (click)="deleteInput.setValue(!deleteInput.value)" mat-button class="filter"
              [class.disabled]="!deleteInput.value">
        <span class="text-16">{{statistics.DELETE}}</span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="versionOneTranslations && !translationChanges" class="flex justify-center">
    <button [class.disabled]="!duplicatesOnly" (click)="onDuplicatesFilter()" mat-button class="filter mb3">
      <span class="text-16">{{duplicates}}</span>
      <mat-icon>layers</mat-icon>
    </button>
  </div>

  <div class="overflow-x-auto p2">
    <app-preview [translation]="filteredDuplicates" [translationChanges]="filteredTranslationChanges"></app-preview>
  </div>
</div>
