*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}
