@use './../../node_modules/@angular/material' as mat;
@use "./variables" as var;

@function generate-mat-map($color, $lighter, $darker, $color-text, $lighter-text, $darker-text) {
  @return (
    100: $lighter,
    500: $color,
    700: $darker,
    contrast: (
      100: $lighter-text,
      500: $color-text,
      700: $darker-text,
    )
  )
}

@include mat.core();

$palette-primary: mat.define-palette(generate-mat-map(
    var.$color-primary-1,
    var.$color-primary-2,
    var.$color-primary-3,
    var.$color-white,
    var.$color-white,
    var.$color-white
));

$palette-secondary: mat.define-palette(generate-mat-map(
    var.$color-secondary-1,
    var.$color-secondary-2,
    var.$color-secondary-3,
    var.$color-black,
    var.$color-black,
    var.$color-black
));

$palette-warn: mat.define-palette(generate-mat-map(
    var.$color-error-1,
    var.$color-error-2,
    var.$color-error-3,
    var.$color-white,
    var.$color-white,
    var.$color-white
));

@include mat.all-component-themes(mat.define-light-theme((
  color: (
    primary: $palette-primary,
    accent: $palette-secondary,
    warn: $palette-warn,
  )
)));
