@use "./variables" as var;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var.$color-gray-3 var.$color-gray-5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var.$color-gray-5;
}

*::-webkit-scrollbar-thumb {
  background-color: var.$color-gray-3;
  border-radius: 8px;
  //border: 0px none #605757;
}
