h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  line-height: 5.2rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 2rem;

}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

caption {
  font-size: 1.2rem;
}
