<h2 mat-dialog-title><span translate="PREVIEW"></span> RESX</h2>
<mat-dialog-content>
  <pre class="pre m2 p2 rounded-4 overflow-x-auto" [innerText]="resx"></pre>
</mat-dialog-content>
<mat-dialog-actions class="justify-flex-end">
  <button (click)="ref.close()" mat-button translate="CLOSE"></button>
  <button (click)="onCopy()" mat-button translate="COPY"></button>
  <button (click)="onSave()" mat-button translate="SAVE_AS_FILE"></button>
</mat-dialog-actions>
