:host {
  display: block;
  min-width: 60vw;
}

.pre {
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.area {
  outline: none;
  resize: unset;
  border: none;
}
