<input [formControl]="form" #input type="file" (change)="onFileChange($event)" class="display-none" accept=".json, .resx">
<button (click)="onSelect(input)" mat-raised-button color="accent">
  <ng-container *ngIf="file; else chooseFile">
    {{'FILE' | translate}}: <span class="color-gray-2 underline">{{file.name}}</span>
  </ng-container>
  <ng-template #chooseFile>
    <span translate="CHOOSE_FILE"></span>
  </ng-template>
</button>
