<mat-toolbar color="primary" class="flex justify-space-between">
  <span>Translate Comparator</span>
  <div>
    <button (click)="exportJson.emit()" class="mr1" mat-icon-button>
      <mat-icon>data_object</mat-icon>
    </button>
    <button (click)="exportResx.emit()" mat-icon-button>
      <mat-icon>code</mat-icon>
    </button>
  </div>
</mat-toolbar>
